<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <!-- <% let name2 = 'baseer'%> -->
    <h1> login page  </h1>
    <!-- <h1><%= name2%></h1> -->
    <script src="/public/client.js"></script>
</body>
</html>